<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WMS_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WMS_Client.Properties.Settings>
            <setting name="WMS_Client_CheckAccoutServiceIService_CheckAccountServiceIService"
                serializeAs="String">
                <value>http://172.17.192.53:8080/webservice/wsCheckAccountaddress</value>
            </setting>
            <setting name="WMS_Client_tR_Tr_Sn_tR_Tr_Sn" serializeAs="String">
                <value>http://sfis.phicomm.com.cn/SFIS_WEBSER/tR_Tr_Sn.asmx</value>
            </setting>
            <setting name="WMS_Client_GoodsMvtCreate_OUT_GoodsMvtCreate_OUTService"
                serializeAs="String">
                <value>http://sappip.freecomm-networks.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=GoodsMvtCreate_OUT&amp;interfaceNamespace=http%3A%2F%2Fphicomm.com%2FWMS%2FPI018%2FGoodsMvtCreate</value>
            </setting>
            <setting name="WMS_Client_DeliveryList_OUT_DeliveryList_OUTService"
                serializeAs="String">
                <value>http://sappip.freecomm-networks.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=DeliveryList_OUT&amp;interfaceNamespace=http%3A%2F%2Fphicomm.com%2FWMS%2FPI021%2FDeliveryList</value>
            </setting>
            <setting name="WMS_Client_ReservationDetail_OUT_ReservationDetail_OUTService"
                serializeAs="String">
                <value>http://sappip.freecomm-networks.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=WMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=ReservationDetail_OUT&amp;interfaceNamespace=http%3A%2F%2Fphicomm.com%2FWMS%2FPI020%2FReservationDetail</value>
            </setting>
            <setting name="WMS_Client_ZPI_PIINTF_MES_SUBCON_PURCHASE_ZPI_PIINTF_MES_SUBCON_PURCHASEService"
                serializeAs="String">
                <value>http://sappip.freecomm-networks.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=MES_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=ZPI_PIINTF_MES_SUBCON_PURCHASE&amp;interfaceNamespace=urn%3Asap-com%3Adocument%3Asap%3Arfc%3Afunctions</value>
            </setting>
            <setting name="WMS_Client_WMS_WebServices_R_Tr_Sn" serializeAs="String">
                <value>http://wms-client.phicomm.com/WMS_WEBSER/R_Tr_Sn.asmx</value>
            </setting>
        </WMS_Client.Properties.Settings>
    </applicationSettings>
</configuration>